<div class="row">
  <div class="col-12">
    <img
      src="https://maps.googleapis.com/maps/api/staticmap?center={{lat}},{{lng}}&zoom=17&size=800x300&sensor=false&markers={{lat}},{{lng}}&key={{googleAPIKey}}&scale=2" 
      class="img-fluid rounded" />
  </div>
</div>

&nbsp;
&nbsp;
&nbsp;

<div class="row">
  <div class="col-12">
    <div class="error">{{ message }}</div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <div class="card" *ngFor="let location of locationsOne">
      <div class="card-block">
        <h4>
          <a routerLink="/location/{{location._id}}">{{location.name}}</a>
          <app-rating-stars [rating]="location.rating"></app-rating-stars>
          <span class="badge badge-pill badge-default float-right">{{location.distance | distance}}</span>
        </h4>
        <p class="address">{{location.address}}</p>
        <div class="bobaQualities">
          <span *ngFor="let bobaQuality of location.bobaQualities" class="badge badge-warning">{{bobaQuality}}</span>&nbsp;
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card" *ngFor="let location of locationsTwo">
      <div class="card-block">
        <h4>
          <a routerLink="/location/{{location._id}}">{{location.name}}</a>
          <app-rating-stars [rating]="location.rating"></app-rating-stars>
          <span class="badge badge-pill badge-default float-right">{{location.distance | distance}}</span>
        </h4>
        <p class="address">{{location.address}}</p>
        <div class="bobaQualities">
          <span *ngFor="let bobaQuality of location.bobaQualities" class="badge badge-warning">{{bobaQuality}}</span>&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>